.footer {
    background-color: #191939;
    color: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    transform: translateY(20px);
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 250px;
    transition: transform 0.3s, color 0.3s;
    margin-right: 100px;
  }
  
  .footer-section>h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #f9a826;
    position: relative;
  }
  
  .footer-section>h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #f9a826;
    margin-top: 5px;
    animation: expandWidth 0.5s ease-in-out;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .footer-section ul li:hover {
    transform: translateX(10px);
  }
  
  .footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-section ul li a:hover {
    color: #f9a826;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSocials 1.5s ease-in-out forwards;
  }
  
  .social-icons a {
    font-size: 24px;
    color: #ffffff;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #f9a826;
    transform: scale(0.9);
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #aaaaaa;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInBottom 1.5s ease-in-out forwards;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes expandWidth {
    from {
      width: 0;
    }
    to {
      width: 50px;
    }
  }
  
  @keyframes fadeInSocials {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeInBottom {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  