    

  main {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    
  }

  .item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 70%;
    transform: translateY(-80%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 220px); }
    &:nth-child(5) { left: calc(50% + 440px); }
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
  }

  .content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 500 4rem helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;

    & .title {
      font-family: 'arial-black';
      text-transform: uppercase;
    }

    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 1rem;
    }

    & button {
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }
  }

  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }

  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    & .btn {
      background-color: rgba(255,255,255,0.5);
      color: rgba(0,0,0,0.7);
      border: 2px solid rgba(0,0,0,0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }

  .home-content2{
    width: 100%;
    background-color: #191939;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    
  }

  .container-2 {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1200px);
    animation: gallery 20s linear infinite;
    margin: 50px auto;
    overflow: visible;
  }
  
  .container-2>span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
    -webkit-box-reflect: below 2.5px linear-gradient(transparent, transparent, rgba(3, 3, 3, 0.2));
  }
  
  .container-2 >span img {
    position: absolute;
    height: 250px;
    width: 200px;
    object-fit: fill;
    border-radius: 10px;
    border: 6px ridge #ccc;
  }
  .content2-h1{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    background-color: #191939;
    padding-top: 70px;
    margin-bottom: -50px;
    color: white;
    animation: float 3s ease-in-out infinite;
    overflow: hidden;
  }
  .content2-h1>span{
    color: red;
    padding: 10px 10px;
  }
  .container-3{
    background-color: #191939;
   
  }
  .container-3 > h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: cursive;
    margin-top: 40px;
    margin-bottom: -50px;
    animation: float 3s ease-in-out infinite;
}

.container-3 > h1 > span {
    padding-left: 10px;
    color: red;
}

/* Keyframes for floating animation */
@keyframes float {
    0% {
        transform: translateY(0); /* Starting position */
    }
    50% {
        transform: translateY(-10px); /* Move up slightly */
    }
    100% {
        transform: translateY(0); /* Back to starting position */
    }
}
  @keyframes gallery {
    0% {
      transform: perspective(1000px) rotateY(0deg);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg);
    }
  }

 
  @media (width > 650px) and (width < 900px) {
    .content {
      & .title { font-size: 1rem; }
      & .description { font-size: 0.7rem; }
      & button { font-size: 0.7rem; }
    }
    .item {
      width: 160px;
      height: 270px;

      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 170px); }
      &:nth-child(5) { left: calc(50% + 340px); }
      &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
  }

  
  @media (max-width: 650px) {
    .content {
        width: 70%;
        top: 40%;
        left: 1.2rem;
        
        & .title { font-size: 1.8rem; }
        & .description { font-size: 0.9rem; }
        & button { font-size: 1rem; border-radius: 10px; }
      }
      .item {
        width: 140px;
        height: 200px;
  
        &:nth-child(3) { left: 55%; }
        &:nth-child(4) { left: calc(50% + 170px); }
        &:nth-child(5) { left: calc(50% + 340px); }
        &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
      }
   
  }