/* Navbar Wrapper */
.navbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
    /* background-color: red; */
  }
  
  .navbar-wrapper.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    color: white;
  }
  
  .navlogo {
    height: 100px;
    width: 150px;
    margin-left: 2rem;
    filter: brightness(0) invert(1);
    cursor: pointer;

  }
  
  /* Navigation Links */
  .nav-links {
    width: 50%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.3s ease;
    
  }
  
  .nav-links a {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  
  .nav-links .log-out-button {
    padding: 0.5rem 1rem;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
  }
  .nav-links .log-out-button:hover{
    background-color: teal;
  }
  
  /* Hamburger Menu */
  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navlogo{
        height: 90px;
        width: 130px;
        margin-left: 2rem;
        margin-left: 0rem;
    }
    .nav-links {
      width: 50%;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 10px;
      /* border-radius: 10px; */
      position: fixed;
      top: 70px;
      right: 0;
      background: rgba(28, 27, 27, 0.9);
      flex-direction: column;
      align-items: center;
      width: 50%;
      height: 60%;
      transform: translateX(100%);
    }
    .nav-links>a{
        background-color: rgb(39, 110, 110);
        padding: 10px 70px;
        font-family:  cursive;
        font-size: 23px;
        /* border-radius: 20px; */
    }
  
    .nav-links.open {
      transform: translateX(0);
    }
  
    .menu-icon {
      display: block;

    }
  }
  